<mat-card>
  <mat-grid-list cols="2" rowHeight="64">
    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="From year" [(value)]="fromYear" (selectionChange) = renderChart()>
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="To year" [(value)]="toYear" (selectionChange) = renderChart()>
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div class="line-chart">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          legend="false"
          chartType="line">
  </canvas>
</div>
