
<nav mat-tab-nav-bar>
  <a mat-tab-link routerLinkActive #temperature="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [active]="temperature.isActive" routerLink="/">
    Temperature
  </a>
  <a mat-tab-link routerLinkActive #precipitation="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [active]="precipitation.isActive" routerLink="/precipitation">
    Precipitation
  </a>
</nav>
<router-outlet></router-outlet>
